
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,300&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');

body{
  background-color: #2b2d42;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}